.note{
    .salesBar {
        padding: 16px 0 29px 32px;
        background-color: #ffffff;
    }
    .noteTabs{
        margin-top: 30px;
        padding: 24px;
        background-color: #ffffff;
    }
    :global {
        .ant-card-extra{
            padding: 11.5px 0;
        }
        .ant-tabs-bar{
            border: none;
        }
        .ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab{
            border-bottom: 1px solid #e8e8e8;
        }
        .ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-active{
            // border-bottom: 0;
        }
        .ant-form-item {
            margin-bottom: 24px;
            margin-right: 0;
            display: flex;
            > .ant-form-item-label {
                width: auto;
                line-height: 32px;
                padding-right: 8px;
            }
            .ant-form-item-control {
                line-height: 32px;
            }
        }
        .ant-form-item-control-wrapper {
            flex: 1;
        }
        .ant-table-pagination {
            margin-top: 24px;
        }
            
    }
    .submitButtons {
        white-space: nowrap;
        margin-bottom: 24px;
    }
}